/* #region -> Custom Callouts */
/* This is a snippet which adds custom callouts to obsidian */

.callout[data-callout="moc"] {
    --callout-color: 255, 166, 77;
    --callout-icon : lucide-list;
    margin-left    : 0% !important;
    margin-right   : 55% !important;
}

.callout[data-callout="h"] {
    --callout-color  : transparent;
    --callout-icon   : none;
    border-left-width: 0px;
    background-color : transparent;
    box-shadow       : none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.callout[data-callout="h"] .callout-icon,
.callout[data-callout="ctrl"] .callout-icon{
    display: none;
}

.callout[data-callout="h"] .callout-title {
    background-color: transparent;
    border-bottom   : 1px solid var(--horizontal-line-color);
}

.callout[data-callout="h"] .callout-content {
    background-color: transparent;
}

.callout[data-callout="ctrl"] {
    --callout-icon  : none;
    background-color: transparent;
    border          : none;
    transform       : none;
    margin-left     : 0px !important;
    margin-right    : 0px !important;
    margin-bottom   : 100px !important;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner:is(a.internal-link, a.external-link),
.callout[data-callout="ctrl"] .callout-content:is(a.internal-link, a.external-link) {
    border-radius: var(--radius-small);
    font-size    : 0.83rem;
    display      : inline-block;
    margin-bottom: 2px;
    margin-left  : 5px;
    margin-right : 5px;
}

.callout[data-callout="ctrl"] .callout-content :is(a.internal-link, a.external-link) {
    font-size: 0.7rem;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner a.internal-link:hover,
.callout[data-callout="ctrl"] .callout-content a.internal-link:hover  {
    color     : var(--main-accent-light);
    padding   : 0 2px;
    transform : scale(1.08, 1.08);
    transition: all 200ms ease-in;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:not(:first-child, :last-child) {
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: small;
    align-self: center;
    justify-self: center;
    border-bottom-width: 2px;
    text-shadow: var(--text-shadow);
    margin: 0px 8px;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
    justify-self: left;
    align-self: center;
    padding: 1px 6px 1px 3px;
    border: 1px solid var(--main-accent);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child) {
    grid-row-start: 1;
    grid-row-end: span 1;
    justify-self: right;
    align-self: center;
    padding: 1px 3px 1px 6px;
    border: 1px solid var(--main-accent);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child:hover {
    background-color: var(--bg-dark);
    border-color: var(--main-accent-light);
    padding: 1px 6px 1px 3px;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child):hover  {
    background-color: var(--bg-dark);
    border-color: var(--main-accent-light);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child::before {
    content: "<- ";
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child)::after {
    content: " ->";
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child::before:hover,
.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child)::after:hover {
    color: var(--main-accent-light);
}

.callout[data-callout="ctrl"] .callout-content {
    text-align: center;
}

.callout[data-callout="ctrl"] .callout-title {
    background-color: var(--bg-darker-translucent);
    /* border-bottom: 1px solid var(--horizontal-line-color); */
    border-top             : 0px solid transparent;
    border-top-left-radius : var(--radius-small);
    border-top-right-radius: var(--radius-small);
    box-shadow: var(--shadow);
}


.callout[data-callout="ctrl"] .callout-content {
    border-bottom             : 0px solid transparent;
    background-color          : var(--bg-black-translucent);
    border-bottom-left-radius : var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
}

.callout[data-callout="ctrl"] .callout-content p {
    margin-top   : 0.2rem;
    margin-bottom: 0.2rem;
}

.callout[data-callout="ctrl"] .callout-content > p > a.external-link {
    border: 1px solid var(--main-accent);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow);
    padding: 2px 21px 2px 6px;
}

.callout[data-callout="ctrl"] .callout-content > p > a.external-link:hover {
    background-color: var(--bg-darker);
    border-color: var(--main-accent-light);
}

.callout[data-callout="ctrl"] .callout-content > *:not(p),
.callout[data-callout="ctrl"] .callout-content > p > a.internal-link {
    border: 1px solid var(--main-accent);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow);
    padding: 2px;
}

.callout[data-callout="ctrl"] .callout-content > *:not(p),
.callout[data-callout="ctrl"] .callout-content > p > a.internal-link:hover {
    background-color: var(--bg-darker);
    border-color: var(--main-accent-light);
    padding: 2px;
}

/* #endregion | Custom Callouts */