/* #region -> Custom Callouts */
/* This is a snippet which adds custom callouts to obsidian */

.callout[data-callout="moc"] {
    --callout-color: 255, 166, 77;
    --callout-icon : lucide-list;
    margin-left    : 10% !important;
    margin-right   : 60% !important;
}

.callout[data-callout="h"] {
    --callout-color  : transparent;
    --callout-icon   : none;
    border-left-width: 0px;
    background-color : transparent;
    box-shadow       : none !important;

}

.callout[data-callout="h"] .callout-icon,
.callout[data-callout="ctrl"] .callout-icon{
    display: none;
}

.callout[data-callout="h"] .callout-title {
    background-color: transparent;
    border-bottom   : 1px solid var(--horizontal-line-color);
}

.callout[data-callout="h"] .callout-content {
    background-color: transparent;
}

.callout[data-callout="ctrl"] {
    --callout-icon  : none;
    background-color: transparent;
    border          : none;
    transform       : none;
    margin-left     : 0px;
    margin-right    : 0px;
    margin-bottom   : 50px;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner:is(a.internal-link, a.external-link),
.callout[data-callout="ctrl"] .callout-content:is(a.internal-link, a.external-link) {
    border-radius: var(--radius-small);
    font-size    : 0.83rem;
    display      : inline-block;
    margin-bottom: 2px;
    margin-left  : 5px;
    margin-right : 5px;
}

.callout[data-callout="ctrl"] .callout-content :is(a.internal-link, a.external-link) {
    font-size: 0.7rem;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner a.internal-link:hover,
.callout[data-callout="ctrl"] .callout-content a.internal-link:hover  {
    color     : var(--main-accent-light);
    padding   : 0 2px;
    transform : scale(1.08, 1.08);
    transition: all 200ms ease-in;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner {
    text-align: end;
}

.callout[data-callout="ctrl"] .callout-content {
    text-align: center;
}

.callout[data-callout="ctrl"] .callout-title {
    background-color: var(--bg-darker-translucent);
    /* border-bottom: 1px solid var(--horizontal-line-color); */
    border-top             : 0px solid transparent;
    border-top-left-radius : var(--radius-small);
    border-top-right-radius: var(--radius-small);
}


.callout[data-callout="ctrl"] .callout-content {
    border-bottom             : 0px solid transparent;
    background-color          : var(--bg-darkest-translucent);
    border-bottom-left-radius : var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
}

.callout[data-callout="ctrl"] .callout-content p {
    margin-top   : 0.2rem;
    margin-bottom: 0.2rem;
}

/* #endregion | Custom Callouts */