/* #region -> Custom Callouts */
/* This is a snippet which adds custom callouts to obsidian */

.callout[data-callout="moc"] {
    --callout-color: 255, 166, 77;
    --callout-icon : lucide-list;
    padding: var(--size-4-3) 0 0 0;
    margin-left    : 0% !important;
    margin-right   : 55% !important;
}

.callout[data-callout="moc"] .callout-content {
    background-color: var(--color-base-25);
}

.callout[data-callout="moc"] .callout-title {
    padding-bottom: 12px;
    padding-left: 12px;
}

.callout[data-callout="h"] {
    --callout-color  : transparent;
    --callout-icon   : none;
    border-left-width: 0px;
    background-color : transparent;
    box-shadow       : none !important;
    padding-left     : 0px !important;
    padding-right    : 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.callout[data-callout="h"] .callout-icon,
.callout[data-callout="ctrl"] .callout-icon{
    display: none;
}

.callout[data-callout="h"] .callout-title {
    background-color: transparent;
    border-bottom   : var(--hr-thickness) solid var(--hr-color);
}

.callout[data-callout="h"] .callout-content {
    background-color: transparent;
}

.callout[data-callout="ctrl"] {
    --callout-icon  : none;
    padding: 0 0 0 0;
    background-color: transparent;
    border          : none;
    transform       : none;
    margin-left     : 0px !important;
    margin-right    : 0px !important;
    border-radius: var(--radius-s);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner:is(a.internal-link, a.external-link),
.callout[data-callout="ctrl"] .callout-content:is(a.internal-link, a.external-link) {
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
    font-size    : 0.83rem;
    display      : inline-block;
    margin-bottom: 2px;
    margin-left  : 5px;
    margin-right : 5px;
    text-decoration-style: none;
}

.callout[data-callout="ctrl"] .callout-content :is(a.internal-link, a.external-link) {
    font-size: 0.7rem;
    text-decoration-style:unset;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner a.internal-link:hover,
.callout[data-callout="ctrl"] .callout-content a.internal-link:hover  {
    color     : var(--color-accent-2);
    transform: translate3d(1px, -1px, 0px);
    transition: all 150ms ease-in;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:not(:first-child, :last-child) {
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: small;
    align-self: center;
    justify-self: center;
    border-bottom-width: 2px;
    margin: 0px 8px;
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
    justify-self: left;
    align-self: center;
    padding: 1px 6px 1px 3px;
    border: 1px solid var(--color-accent);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child) {
    grid-row-start: 1;
    grid-row-end: span 1;
    justify-self: right;
    align-self: center;
    padding: 1px 3px 1px 6px;
    border: 1px solid var(--color-accent);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child:hover {
    background-color: var(--color-base-30);
    border-color: var(--color-accent-2);
    box-shadow: var(--shadow-s);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child):hover  {
    background-color: var(--color-base-30);
    border-color: var(--color-accent-2);
    box-shadow: var(--shadow-s);
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child::before {
    content: "<- ";
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child)::after {
    content: " ->";
}

.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:first-child::before:hover,
.callout[data-callout="ctrl"] .callout-title .callout-title-inner > *:last-child:not(:first-child)::after:hover {
    color: var(--color-accent-2);
}

.callout[data-callout="ctrl"] .callout-title {
    background-color: var(--color-base-00);
    border-bottom: none;
    border-top-left-radius : var(--radius-s);
    border-top-right-radius: var(--radius-s);
    padding: 12px;
    box-shadow: var(--shadow-s);
    transition: border-radius 150ms ease-out;
}

.callout[data-callout="ctrl"] .callout-title:only-child,
.callout[data-callout="ctrl"].is-collapsed .callout-title {
    background-color: var(--color-base-00);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
    transition: border-radius 150ms ease-in;
}


.callout[data-callout="ctrl"] .callout-content {
    border-top            : none;
    background-color          : var(--color-base-25);
    border-bottom-left-radius : var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    text-align: center;
}

.callout[data-callout="ctrl"] .callout-content p {
    margin-top   : 0.2rem;
    margin-bottom: 0.2rem;
}

.callout[data-callout="ctrl"] .callout-content > p > a.external-link {
    border: 1px solid var(--color-accent);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
    padding: 2px 21px 2px 6px;
}

.callout[data-callout="ctrl"] .callout-content > p > a.external-link:hover {
    background-color: var(--color-base-20);
    border-color: var(--color-accent-2);
}

.callout[data-callout="ctrl"] .callout-content > *:not(p),
.callout[data-callout="ctrl"] .callout-content > p > a.internal-link {
    border: 1px solid var(--color-accent);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
    padding: 2px;
}

.callout[data-callout="ctrl"] .callout-content > *:not(p),
.callout[data-callout="ctrl"] .callout-content > p > a.internal-link:hover {
    background-color: var(--color-base-20);
    border-color: var(--color-accent-2);
    padding: 2px;
}

.callout[data-callout="ctrl"] .callout-content > h1 {
    background-color: transparent;
    border: none;
    box-shadow: none;
    /* border-radius: 0px;
    border-bottom: solid 1px var(--horizontal-line-color); */
    margin-top: 30px;
    margin-bottom: 15px;
}

/* #endregion | Custom Callouts */