/* Updated 2022-02-28 */

.dashboard {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
}

.dashboard .markdown-preview-section,
.dashboard .markdown-preview-view.is-readable-line-width .markdown-preview-sizer, 
.dashboard .markdown-source-view.mod-cm6.is-readable-line-width :is(
    :not(.is-rtl) .cm-contentContainer, 
    .is-line-wrap :is(.cm-content, .cm-line:not(.HyperMD-table-row)) ) {
    max-width: 100%;
}

/* Title at top of the document */
/* .dashboard .markdown-preview-section .title {
    top: 60px;
    position: absolute;
    font-size: 26pt !important;
    font-weight: bolder;
    letter-spacing: 8px;
} */

/* .dashboard h1, .dashboard .cm-s-obsidian .HyperMD-header-1 {
    border-bottom-style: dotted !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
} */

.dashboard div > ul {
    list-style: none;
    display: flex!important;
    column-gap: 10px;
    row-gap: 10px;
    flex-flow: row wrap;
    margin: 0;
}

.dashboard div > ul > li {
    min-width: 250px;
    width: 45%;
}
