body:not(.is-mobile):is(.has-custom-background) .workspace,
body:not(.is-mobile):is(.has-custom-background) .workspace-split.mod-root {
  background-color: transparent;
}

body:not(.is-mobile) .workspace > .workspace-leaf,
body:not(.is-mobile) .workspace > .workspace-split {
  height: calc(100% - var(--panel-spacing));
}

body:not(.is-mobile):is(.has-custom-background) .workspace-split.mod-left-split {
  margin-left: var(--panel-spacing);
}

body:not(.is-mobile):is(.has-custom-background) .workspace-split.mod-right-split {
  margin-right: var(--panel-spacing);
}

body.is-focused .workspace-tabs.mod-top,
.workspace-tabs.mod-top {
  --tab-container-background: transparent;
}

body:not(.is-mobile):is(.has-custom-background) .workspace-split.mod-root .workspace-tab-header:not(.is-active) .workspace-tab-header-inner,
body:not(.is-mobile):is(.has-custom-background) .workspace-tab-header-tab-list .clickable-icon,
body:not(.is-mobile):is(.has-custom-background) .workspace-tab-header-new-tab .clickable-icon,
body:not(.is-mobile):is(.has-custom-background) .sidebar-toggle-button .clickable-icon {
  background-color: var(--color-base-25);
}

body:not(.is-mobile):is(.has-custom-background) .workspace-split.mod-root .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner,
body:not(.is-mobile):is(.has-custom-background) .workspace-tab-header-tab-list:hover .clickable-icon,
body:not(.is-mobile):is(.has-custom-background) .workspace-tab-header-new-tab:hover .clickable-icon,
body:not(.is-mobile):is(.has-custom-background) .sidebar-toggle-button:hover .clickable-icon {
  background-color: var(--color-base-30);
}

.workspace-tab-header-inner {
  padding: 0px 3px;
}

.mod-root .workspace-tab-header-container-inner {
  padding: 1px 23px 0;
}

:is(.mod-left-split, .mod-right-split) .workspace-tab-header-container-inner {
  background-color: var(--color-accent-1);
  border-radius: var(--radius-s);
  padding: 0px;
  margin: 0px;
  align-self: center;
  justify-self: center;
  box-shadow: var(--shadow-l);
  height: 24px;
}

.workspace .mod-root .workspace-tab-header-inner::after {
  right: 1.5px;
}

.workspace-tabs .workspace-leaf {
  background-color: var(--color-base-25);
}

.workspace-split:is(.mod-left-split, .mod-right-split) .workspace-leaf {
  border-radius: var(--radius-l);
}

body:not(.is-mobile) .workspace-split.mod-root .workspace-leaf {
  border-radius: var(--radius-l);
  margin: 0px 3px 3px 3px;
}

body:is(.show-file-first-letter) .workspace-split:is(.mod-left-split, .mod-right-split) .workspace-tab-header[data-type=markdown] .workspace-tab-header-inner-title {
  display: block;
  margin: 0px 3px 3px 3px;
}

body:is(.show-file-first-letter) .workspace-split:is(.mod-left-split, .mod-right-split) .workspace-tab-header[data-type=markdown] .workspace-tab-header-inner-title {
  display: block;
  position: absolute;
  font-size: xx-small;
  max-width: 5px;
  top: 9px;
  left: 6px;
}

.workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf, .mod-root .workspace-tabs .workspace-leaf,
.view-header,
.is-focused .workspace-leaf.mod-active .view-header {
  background-color: var(--color-base-20);
}

body:is(.is-mobile) .workspace-drawer-active-tab-back-icon {
  color: var(--interactive-accent);
  order: unset;
}

body:is(.is-mobile) .workspace-drawer-active-tab-back-icon > svg {
  display: none;
}

body:is(.is-mobile) .workspace-drawer-active-tab-back-icon::after {
  content: "<-";
  font-size: var(--font-ui-large);
}

body:is(.is-mobile) .workspace-drawer-tab-option-item {
  background-color: var(--color-base-30);
  border-radius: var(--radius-s);
  padding: var(--size-2-3);
  margin: var(--size-4-6);
}

.view-header {
  border-bottom: 1px solid transparent;
  box-shadow: var(--shadow-l);
  margin: 0px;
}

Body:not(.is-mobile) .is-focused .workspace-leaf.mod-active .view-header,
body.is-mobile .workspace-leaf.mod-active .view-header {
  border-bottom-color: var(--color-accent-1);
}

body.is-mobile .workspace-leaf.mod-active .view-header {
  border-bottom-color: var(--hr-color);
}

.view-header-nav-buttons {
  margin-left: var(--size-4-1);
}

.view-actions {
  margin-right: var(--size-4-1);
}

.view-header-title-parent .view-header-breadcrumb-separator {
  color: var(--color-accent-1);
}

.view-header-title-container:not(.mod-at-end):after {
  background: none;
}

.workspace-split.mod-root .view-content {
  background-color: var(--color-base-10);
}
