/* #region *.......................... App */
/*body:not(.is-mobile) {
    background-color: var(--bg-app);
    padding-top: 24px !important;
}*/
/*

This is an example snippet, which shows you how to add your own background
- Use "body:is(.has-custom-background)" instead of just "body" in order to have it compatible with the "Style Settings" plugin option.
- Replace the url with your own base64 encoded image ( the encoder I used -> https://www.base64-image.de/ ) or just simply use the url of an image you found on the internet, but then it will only be availiable if you are online.
- The image within this snippet is the one I currently use. It was taken by Rahul Pandit and I found it here -> https://www.pexels.com/de-de/foto/schattenbild-der-leute-die-auf-grunem-grasfeld-wahrend-des-sonnenuntergangs-stehen-6246075/.

*/
/*@import './Titlebar/Titlebar.scss';

@import 'Mobile Toolbar';

@import './Floating-Things/Floaty-Things.scss';*/
/* #region *.......................... Interaction items */
/* #region *.......................... Icons & buttons */
button {
  transition: transform 150ms ease-out, box-shadow 150ms ease-out, background-color 150ms ease-out;
}

button:hover {
  border-color: transparent;
  transform: scale(1.03);
  box-shadow: var(--shadow-medium);
  transition: transform 150ms ease-in, box-shadow 150ms ease-in, background-color 150ms ease-in;
}

.setting-add-hotkey-button {
  padding: 3px 1px;
  transition: color 100ms ease-out;
}

.setting-add-hotkey-button:hover {
  background-color: transparent;
  color: var(--main-accent);
  transition: color 100ms ease-in;
}

.edit-block-button,
.markdown-source-view.mod-cm6 .edit-block-button {
  top: unset;
  bottom: 2px;
  right: 2px;
  padding: 2px;
  box-shadow: var(--shadow-small);
  border-radius: var(--radius-small);
  transition: transform 200ms ease-out;
}

.edit-block-button:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
}

.setting-editor-extra-setting-button {
  color: var(--text-faint);
  transition: color 100ms ease-out, transform 100ms ease-out;
}

.setting-editor-extra-setting-button:hover {
  color: var(--main-accent);
  transform: scale(1.1);
  transition: color 100ms ease-in, transform 100ms ease-in;
}

/* #endregion | Icons */
/* #region *.......................... Inputbox */
input[type=text],
input[type=search],
input[type=email],
input[type=password],
input[type=number],
.theme-dark .kanban-plugin__grow-wrap > textarea,
.theme-dark .kanban-plugin__grow-wrap:after {
  background: var(--bg-darkest);
  border: 1px solid var(--main-accent-dark);
  font-size: 0.8em;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-small);
  transition: border-color 150ms ease-in, background-color 150ms ease-in;
}

input[type=text]:hover,
input[type=search]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=text]:hover,
input[type=search]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
.theme-dark .kanban-plugin__grow-wrap > textarea:hover,
.theme-dark .kanban-plugin__grow-wrap:hover:after {
  border-color: var(--main-accent);
  background-color: var(--bg-darkest);
  transition: border-color 150ms ease-in, background-color 150ms ease-in;
}

input[type=text]:active,
input[type=search]:active,
input[type=email]:active,
input[type=password]:active,
input[type=number]:active,
input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
.theme-dark .kanban-plugin__grow-wrap > textarea:focus,
.theme-dark .kanban-plugin__grow-wrap:focus:after {
  border-color: var(--main-accent);
  background-color: var(--bg-black);
  transition: all 200ms ease-in;
}

.search-input-container input {
  display: block;
  width: 100%;
  padding: 5px 28px 5px 7px;
}

input[type=text], input[type=search], input[type=email], input[type=password], input[type=number] {
  font-size: 0.8em;
  min-width: 100px;
  height: 30px;
}

/* #endregion | 3.4.2. Inputbox */
/* #region *.......................... Dropdown */
.dropdown {
  border: 1px solid var(--main-accent-dark);
  box-shadow: var(--shadow-small);
  border-radius: var(--radius-small);
  font-size: 0.8em;
  transition: border-color 150ms ease-out;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23666' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
}

.dropdown:hover {
  border-color: var(--main-accent);
  transition: border-color 150ms ease-in;
}

.dropdown option {
  font-weight: normal;
  border: 1px solid var(--main-accent) !important;
  background-color: var(--bg-dark);
  transition: background-color 150ms ease-out;
}

.dropdown option:hover {
  background-color: var(--main-accent) !important;
  transition: background-color 150ms ease-in;
}

/* #endregion | 3.4.3. dropdown */
/* #region *.......................... Checkbox */
.checkbox-container {
  color: var(--text-normal);
  background-color: var(--bg-black);
  box-shadow: var(--shadow-small);
  border-radius: var(--radius-big);
  border: 1px solid transparent;
  padding: 0px 3px 0px 3px;
  transition: all 100ms ease-out;
}

.checkbox-container:after {
  border-radius: var(--radius-small);
  transform: translate3d(2px, -1px, 0);
  transition: all 100ms ease-out;
}

.checkbox-container.is-enabled:after {
  border-radius: var(--radius-small);
  transform: translate3d(18px, -1px, 0);
  transition: all 100ms ease-in;
}

.checkbox-container:not(.is-enabled):hover {
  border-color: var(--main-accent);
  transform: scale(1.05);
  transition: all 100ms ease-in;
}

.checkbox-container.is-enabled {
  background-color: var(--main-accent);
  transition: all 100ms ease-in;
}

.checkbox-container.is-enabled:hover {
  border-color: var(--main-accent-light);
  transform: scale(1.03);
  transition: all 100ms ease-in;
}

/* #endregion | Checkbox */
/* #endregion | Interaction items */
/* #endregion */

/*# sourceMappingURL=App.css.map */
