.mobile-toolbar {
    border-top: 1px solid var(--background-modifier-border);
    background-color: var(--color-base-00);
}

.mobile-toolbar-option {
    padding: 0px 5px;
    color:var(--interactive-accent);
}