.modal-bg {
	background-color: rgba(12, 12, 12, 1);
	backdrop-filter: blur(20px);
	-webkit-filter: blur(1px);
}

.setting-hotkey,
.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
	box-shadow: var(--input-shadow);
}

.is-phone .modal .modal-title {
	font-size: var(--font-ui-large);
}

.is-phone .vertical-tab-header-group-title,
.is-phone .setting-item-heading .setting-item-name {
	font-size: var(--font-ui-medium);
}

.vertical-tab-content {
	background-color: var(--color-base-10);
}

.vertical-tab-header {
	background-color: var(--color-base-25);
}

.is-phone .modal.mod-settings .vertical-tab-header-group-items {
	border: 1px solid var(--background-modifier-border);
}
