
/* #region *.......................... Editor */

/* #region *.......................... General */

.document-search {
    min-height: 32px;
}

.document-search-container {
    padding         : 3px 2px 4px 2px;
    background-color: var(--bg-black);
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
.markdown-source-view.mod-cm6.is-readable-line-width :is(:not(.is-rtl) .cm-contentContainer, .is-line-wrap .cm-content),
.is-line-wrap .cm-line:not(.HyperMD-table-row),
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row){ /* <- Note width */
    max-width   : var(--note-width);
    margin-right: auto !important;
}

.markdown-preview-section {
    background-color: var(--bg-embed);
    font-size       : var(--note-font-size);
}

.markdown-source-view,
.markdown-reading-view,
.cm-line {
    font-size       : var(--note-font-size);
    background-color: var(--bg-note);
}

.workspace-tabs .markdown-source-view,
.workspace-tabs .markdown-reading-view,
.workspace-tabs .cm-line  {
    background-color: transparent;
}

.markdown-source-view.mod-cm6 .cm-scroller {
    padding         : 10px;
    background-color: transparent;
}

body:is(.is-mobile) .markdown-source-view.mod-cm6 .cm-scroller {
    padding: 0px;
}

body:is(.gutter-is-moved) .markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-scroller > *:first-child {
    padding-right: 1px;
    margin-left  : unset;
}

body:is(.is-mobile) .markdown-source-view.mod-cm6 .cm-gutters {
    padding-right: 0px;
    width        : 0px;
    color        : transparent;
    display      : none;
}

body:is(.gutter-is-moved) .cm-contentContainer {
    margin-left: auto;
}

.cm-embed-block {
    color: var(--text-note);
}

/* #endregion | General  */

/* #region -> Lines */

.markdown-source-view .cm-scroller div.cm-gutters { /* <- Line numbers & dotted divider */
    flex            : 0 0 auto;
    background-color: transparent;
    color           : var(--text-faint) !important;
    border-right    : 1px dotted var(--text-faint) !important;
}

.ͼ1 .cm-line{
    border-left     : 3px solid transparent;
    border-right    : 3px solid transparent;
    background-color: transparent;
}

.markdown-source-view.mod-cm6 .hr{
    padding-left: 0px;
}

body:not(.is-export-mode):is(.is-hover-effect-on) .cm-line:hover { /* Line Hover */
    background-color: var(--bg-line-hover);
    transition      : all 200ms;
    border-radius   : var(--radius-medium);
}

body:not(.is-export-mode):is(.is-active-effect-on) div.cm-active.cm-line /* Active Line */ {
    background-color: var(--bg-line-active);
    box-shadow      : var(--shadow);
    transform       : translate3d(0px, -1px, 0px);
    transition      : all 200ms;
    border-radius   : var(--radius-medium);
}

body:not(.is-export-mode) body:is(.is-hover-effect-on) .HyperMD-quote.cm-line.cm-line.cm-line.cm-line.cm-line.cm-line:hover{
    background-color: var(--bg-line-hover);
    transition      : all 200ms;
}



/* #endregion | Lines  */

/* #region -> Formatting Elements */

/* #region -> Headings */

body:is(.downsize-h-formatter) .cm-formatting-header.cm-formatting-header {
    color      : var(--text-faint);
    font-weight: 200;
    font-size  : small !important;
}

.markdown-rendered .callout-title-inner :is(h1, h2, h3, h4, h5, h6),
.markdown-rendered .callout-content :is(h1, h2, h3, h4, h5, h6) {
    margin: 0 0;
}

.cm-header-1.cm-header-1,
.markdown-preview-view h1,
.callout-title-inner h1,
.callout-content h1 {
    color: var(--header-1-color);
    font-weight: var(--header-1-weight);
    text-align : var(--header-1-alignment);
}

.HyperMD-header.HyperMD-header-1.cm-line,
.markdown-preview-view h1 {
    border-bottom : 1px solid var(--horizontal-line-color);
    padding-bottom: 0px;
}

.HyperMD-header-1,
.callout-title-inner h1,
.callout-content h1 {
    text-align: var(--header-1-alignment);
    font-size : var(--header-1-size);
}

.cm-header-2.cm-header-2,
.markdown-preview-view h2,
.callout-title-inner h2,
.callout-content h2 {
    color      : var(--header-2-color);
    font-weight: var(--header-2-weight);
    text-align : var(--header-2-alignment);
}

.HyperMD-header-2,
.callout-title-inner h2,
.callout-content h2 {
    text-align: var(--header-2-alignment);
    font-size : var(--header-2-size);
}

.cm-header-3.cm-header-3,
.markdown-preview-view h3,
.callout-title-inner h3,
.callout-content h3 {
    color      : var(--header-3-color);
    font-weight: var(--header-3-weight);
    text-align : var(--header-3-alignment);
}

.HyperMD-header-3,
.callout-title-inner h3,
.callout-content h3 {
    text-align: var(--header-3-alignment);
    font-size : var(--header-3-size);
}

.cm-header-4.cm-header-4,
.markdown-preview-view h4,
.callout-title-inner h4,
.callout-content h4 {
    color      : var(--header-4-color);
    font-weight: var(--header-4-weight);
    text-align : var(--header-4-alignment);
}

.HyperMD-header-4,
.callout-title-inner h4,
.callout-content h4 {
    text-align: var(--header-4-alignment);
    font-size : var(--header-4-size);
}

.cm-header-5.cm-header-5,
.markdown-preview-view h5,
.callout-title-inner h5,
.callout-content h5 {
    color      : var(--header-5-color);
    font-weight: var(--header-5-weight);
    text-align : var(--header-5-alignment);
}

.HyperMD-header-5,
.callout-title-inner h5,
.callout-content h5 {
    text-align: var(--header-5-alignment);
    font-size : var(--header-5-size);
}

.cm-header-6.cm-header-6,
.markdown-preview-view h6,
.callout-title-inner h6,
.callout-content h6 {
    color      : var(--header-6-color);
    font-weight: var(--header-6-weight);
    text-align : var(--header-6-alignment);
}

.HyperMD-header-6,
.callout-title-inner h6,
.callout-content h6 {
    text-align: var(--header-6-alignment);
    font-size : var(--header-6-size);
}

/* #endregion */

/* #region -> Math */

.MJX-TEX,
.cm-s-obsidian .cm-math {
    color: #7bd5f6;
}

.theme-light .MJX-TEX,
.theme-light .cm-s-obsidian .cm-math {
    color: #024ea2;
}

span.math {
    font-family: MJXZERO, 'MJXTEX-I';
    font-size  : 1.1em;
}

.MJX-TEX {
    font-family: MJXZERO, MJXTEX;
}

.MJX-TEX * {
    font-family: MJXZERO, MJXTEX;
}

/* #endregion */

/* #region -> Callouts */
body:is(.is-mobile) .callout {
    margin-left : 5px;
    margin-right: 5px;
}

.callout {
    margin-left : 5%!important;
    margin-right: 5%!important;
    box-shadow  : var(--shadow);
    transform   : translate3d(0px, -3px, 0px);
}

.cm-callout li {
    padding-top   : 4px;
    padding-bottom: 4px;
}

.cm-callout:hover {
    border: none;
}

.markdown-source-view.mod-cm6 .callout,
.markdown-preview-view .callout{
    box-shadow  : var(--shadow);
    transform   : translate3d(0px, -3px, 0px);
}

.markdown-source-view.mod-cm6 .cm-callout li {
    padding-top   : 4px;
    padding-bottom: 4px;
}

.markdown-source-view.mod-cm6 .cm-callout {
    border   : none;
}


.markdown-source-view.mod-cm6 .cm-callout:hover {
    border: none;
}

/* #endregion | Callout */

.markdown-source-view.mod-cm6 .cm-selection {
    background-color: var(--text-selection);
    color           : var(--text-selection-color);
    border-radius   : var(--radius-small);
}

.markdown-preview-section li,
.cm-content .HyperMD-list-line{
    padding-top   : 6px;
    padding-bottom: 6px;
}

.markdown-source-view.mod-cm6 .list-bullet:after,
.cm-formatting.cm-formatting-list.cm-formatting-list-ol,
.markdown-embed .markdown-source-view.mod-cm6 .list-bullet:after,
.markdown-embed .cm-formatting.cm-formatting-list.cm-formatting-list-ol  {
    left   : 0px;
    color  : var(--main-accent);
}

body:is(.custom-bullet-point-enabled) .markdown-source-view.mod-cm6 .list-bullet:after,
body:is(.custom-bullet-point-enabled) .cm-formatting.cm-formatting-list.cm-formatting-list-ol,
body:is(.custom-bullet-point-enabled) .markdown-embed .markdown-source-view.mod-cm6 .list-bullet:after,
body:is(.custom-bullet-point-enabled) .markdown-embed .cm-formatting.cm-formatting-list.cm-formatting-list-ol  {
    left   : 0px;
    content: var(--list-bullet-sign);
    color  : var(--main-accent);
}

.markdown-embed-title, .file-embed-title {
    line-height: 0;
    font-size  : 0;
    color      : transparent;
}

.markdown-embed,
.file-embed,
.cm-formatting .markdown-embed,
.cm-s-obsidian .file-embed  {
    border          : 1px solid transparent!important;
    border-radius   : var(--radius-medium)!important;
    margin          : 0px 0!important;
    background-color: var(--bg-embed);
}

.markdown-embed .markdown-preview-view {
    padding: 0px 10px 10px 10px;
}

.markdown-source-view.mod-cm6 .cm-preview-code-block.cm-embed-block {
    padding: 18px 4px;
}

.cm-s-obsidian .HyperMD-codeblock.HyperMD-codeblock-bg.cm-line {
    background-color: var(--bg-quote);
}

body:not(.is-deactivate-normal-quotes) .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote,  .markdown-preview-view blockquote {
    border          : 0px solid var(--background-primary);
    border-right    : 1px solid var(--background-secondary);
    border-left     : 5px solid var(--main-accent-dark);
    border-radius   : 0px;
    background-color: var(--background-secondary);
    width           : 90%;
    margin-left     : auto !important;
    margin-right    : auto !important;
    box-shadow: var(--shadow);
}

body:not(.is-deactivate-normal-quotes, .is-export-mode):is(.is-hover-effect-on) .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:hover, .markdown-preview-view blockquote {
    border-left     : 4px solid var(--main-accent-dark);
    border-radius   : 0px;
    background-color: var(--bg-quote);
    box-shadow      : var(--shadow);
    transform       : translate3d(0px, -3px, 0px);
}

body:is(.is-deactivate-normal-quotes) .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    border          : 0px solid transparent;
    border-radius   : 0px;
    background-color: var(--bg-quote);
    box-shadow      : var(--shadow);
    width           : var(--note-width);
    margin-left     : unset !important;
    margin-right    : unset !important;
}

.markdown-preview-view hr,
.cm-content hr {
    border-top : 1px solid var(--horizontal-line-color);
    margin     : 10px 0px;
    line-height: 0.9;
}

.markdown-source-view.mod-cm6 .hr {
    line-height: 0.8;
}

.cm-s-obsidian span.cm-highlight,
.markdown-preview-view mark {
    background-color: var(--bg-highlight-color);
    color           : var(--highlight-text-color);
    font-weight     : bold;
    border-radius   : var(--radius-small);
}

.cm-s-obsidian span.cm-formatting-highlight {
    color           : var(--text-faint);
    background-color: transparent;
}

/* Ordered and Unordered Relation Lines */
.cm-hmd-list-indent .cm-tab,
ul ul,
ol ol,
ol ul,
ul ol {
    position: relative;
}

/* Edit Mode */
.cm-hmd-list-indent .cm-tab::before {
    left  : 0.1em;
    top   : -6px;
    bottom: -0.3em;
}

/* Preview Mode */
ul ul::before,
ol ol::before,
ol ul::before,
ul ol::before {
    left  : 0em;
    top   : 0.3em;
    bottom: 0;
}

.MJX-TEX.MJX-TEX.MJX-TEX.MJX-TEX,
.cm-s-obsidian .cm-math .cm-math .cm-math{
    color: var(--math-text-color);
}

.cm-s-obsidian .cm-line .cm-hashtag,
.cm-s-obsidian .cm-line .cm-formatting.cm-hashtag,
a.tag{
    color: var(--tag-color);
}

.cm-s-obsidian .cm-line:not(.cm-formatting).cm-hashtag,
.markdown-preview-section a.tag{
    background-color: var(--bg-tag);
    padding         : 1px 6px;
    border-radius   : var(--radius-big);
    transition      : all 200ms ease-out;
}

.cm-s-obsidian .cm-line:not(.cm-formatting).cm-hashtag:hover,
a.tag:hover{
    color           : var(--tag-hover-color);
    background-color: var(--bg-tag-hover);
    transition      : all 200ms ease-in;
}

.theme-dark .token.property,
.theme-dark .token.tag,
.theme-dark .token.constant,
.theme-dark .token.symbol,
.theme-dark .token.deleted,
.theme-dark .cm-tag.cm-tag {
    color: #b1446c;
}

.theme-dark .token.punctuation,
.theme-dark .cm-punctuation,
.theme-dark .cm-bracket.cm-bracket,
.theme-dark .cm-hr {
    color: var(--text-faint);
}

.theme-dark .token.atrule,
.theme-dark .token.attr-value,
.theme-dark .token.function,
.theme-dark .token.class-name,
.theme-dark .cm-attribute,
.theme-dark .cm-type,
.theme-dark .cm-def {
    color: #e4b36a;
}

.theme-dark .token.selector,
.theme-dark .token.attr-name,
.theme-dark .token.string,
.theme-dark .token.char,
.theme-dark .token.builtin,
.theme-dark .token.inserted,
.theme-dark .cm-string,
.theme-dark .cm-string-2 {
    color: #5fad50;
}

.cm-s-obsidian .cm-formatting-quote.cm-formatting-quote,
.cm-formatting,
.cm-s-obsidian span.cm-formatting-task,
del,
.cm-del {
    color: var(--text-faint);
}

strong,
.cm-strong {
    color      : var(--bold-color);
    font-weight: bold;
}

em ,
.cm-em{
    color: var(--italic-color);
}

::marker,
.cm-formatting-list,
.list-bullet::after {
    color          : var(--main-accent);
}

body:is(.custom-bullet-point-enabled) ::marker,
body:is(.custom-bullet-point-enabled) .cm-formatting-list,
body:is(.custom-bullet-point-enabled) .list-bullet::after {
    color          : var(--main-accent);
    list-style-type: var(--list-bullet-sign);
    content        : var(--list-bullet-sign);
}

.markdown-embed ::marker {
    content        : none;
    list-style-type: none;
    color          : transparent;
}

.theme-dark .cm-s-obsidian .cm-hmd-frontmatter.cm-atom,
.theme-dark .cm-s-obsidian .cm-math.cm-atom,
.theme-dark .cm-s-obsidian pre.HyperMD-codeblock .cm-atom {
    color: #F39B35;
}

.theme-dark .cm-s-obsidian .cm-hmd-frontmatter.cm-def,
.theme-dark .cm-s-obsidian .cm-math.cm-def,
.theme-dark .cm-s-obsidian pre.HyperMD-codeblock .cm-def {
    color: #98E342;
}

/* #endregion |3.5.4.3. Formating Elements  */

@import 'Checklists';

@import 'Links';

/* #endregion |3.5.4. Editor  */