// .workspace-split.mod-horizontal.mod-left-split .workspace-tab-header-container,
// .workspace-split.mod-horizontal.mod-right-split .workspace-tab-header-container{
//     border-right: 1px solid var(--color-accent-1);
//     border-left: 1px solid var(--color-accent-1);
// }

body:not(.is-mobile):is(.has-custom-background) .workspace,
body:not(.is-mobile):is(.has-custom-background) .workspace-split.mod-root {
    background-color: transparent;
}

@import 'Workspacetab/Workspacetab.scss';