/* General Checkboxes */

.checkbox-container {
	background-color: var(--color-base-30);
}

.HyperMD-task-line .task-list-item-checkbox:hover {
	transform: scale(1.1);
	transition: transform var(--anim-duration-moderate) ease-in-out;
}

/* Special checkboxes */

.HyperMD-task-line .task-list-item-checkbox::after {
	color: var(--checkbox-marker-color);
}

:is(
		.HyperMD-task-line[data-task="A"],
		.HyperMD-task-line[data-task="B"],
		.HyperMD-task-line[data-task="C"],
		.HyperMD-task-line[data-task="D"],
		.HyperMD-task-line[data-task="X"]
	)
	.task-list-item-checkbox::after {
	-webkit-mask-image: none;
	mask-image: none;
	background-color: transparent;
	top: 1px;
	left: 3px;
	position: relative;
}

:is(
		.HyperMD-task-line[data-task=">"],
		.HyperMD-task-line[data-task="?"],
		.HyperMD-task-line[data-task="-"],
		.HyperMD-task-line[data-task=""],
		.HyperMD-task-line[data-task="/"]
	)
	.task-list-item-checkbox::after {
	-webkit-mask-image: none;
	mask-image: none;
	background-color: transparent;
	top: 1px;
	left: 4px;
	position: relative;
}

:is(
		.HyperMD-task-line[data-task="!"],
		.HyperMD-task-line[data-task="-"],
		.HyperMD-task-line[data-task="/"]
	)
	.task-list-item-checkbox::after {
	-webkit-mask-image: none;
	mask-image: none;
	background-color: transparent;
	top: 1px;
	left: 6px;
	position: relative;
}

.HyperMD-task-line[data-task="A"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="A"] .task-list-item-checkbox:hover,
.HyperMD-task-line[data-task="X"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="X"] .task-list-item-checkbox:hover,
.HyperMD-task-line[data-task="-"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="-"] .task-list-item-checkbox:hover,
.HyperMD-task-line[data-task="!"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="!"] .task-list-item-checkbox:hover {
	background-color: var(--color-red);
	border-color: var(--color-red);
}

.HyperMD-task-line[data-task="A"] .task-list-item-checkbox::after {
	content: "A";
}

.HyperMD-task-line[data-task="B"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="B"] .task-list-item-checkbox:hover,
.HyperMD-task-line[data-task="?"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="?"] .task-list-item-checkbox:hover {
	background-color: var(--color-orange);
	border-color: var(--color-orange);
}

.HyperMD-task-line[data-task="B"] .task-list-item-checkbox::after {
	content: "B";
}

.HyperMD-task-line[data-task="C"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="C"] .task-list-item-checkbox:hover {
	background-color: var(--color-yellow);
	border-color: var(--color-yellow);
}

.HyperMD-task-line[data-task="C"] .task-list-item-checkbox::after {
	content: "C";
}

.HyperMD-task-line[data-task="D"] .task-list-item-checkbox,
.HyperMD-task-line[data-task="D"] .task-list-item-checkbox:hover {
	background-color: var(--color-green);
	border-color: var(--color-green);
}

.HyperMD-task-line[data-task="D"] .task-list-item-checkbox::after {
	content: "D";
}

.HyperMD-task-line[data-task="X"] .task-list-item-checkbox::after {
	content: "X";
}

.HyperMD-task-line[data-task="-"] .task-list-item-checkbox::after {
	content: "-";
}

.HyperMD-task-line[data-task=">"] .task-list-item-checkbox::after {
	content: ">";
}

.HyperMD-task-line[data-task="!"] .task-list-item-checkbox::after {
	content: "!";
}

.HyperMD-task-line[data-task="?"] .task-list-item-checkbox::after {
	content: "?";
}

.HyperMD-task-line[data-task="/"] .task-list-item-checkbox::after {
	content: "/";
}

.checkbox-container,
.checkbox-container:hover {
	box-shadow: var(--input-shadow);
}
