@import 'Config/Variables.scss';

* {
  -webkit-font-feature-settings: 'liga' on, 'calt' on;
  font-feature-settings: 'liga' on, 'calt' on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body > div.modal-container.mod-dim > div.modal.mod-settings.mod-sidebar-layout > div.modal-content.vertical-tabs-container > div.vertical-tab-content-container > div > div:nth-child(3) > div.setting-item-info > div.setting-item-name::after {
  content: " (Still working on a fix for 1.0)";
  color: hsl(0, 61%, 52%);
}

@import 'App/App.scss';

@import 'Config/Style Options.scss';