body:not(.deactivate-window-border, .is-maximized, .is-mobile) {
    border: 1px solid var(--color-accent-1);
}

body:not(.is-mobile):is(.has-custom-background) {
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--custom-background);
}

@import 'Titlebar.scss';
@import 'Floatythings/Floatythings.scss';
@import 'Interactionthings/Interactionthings.scss';
@import 'Workspace/Workspace.scss';
