/* #region *.......................... Status bar*/

.status-bar{
    background-color: var(--main-accent-dark);
    max-height: 28px;
    padding: 8px 25px;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: var(--shadow);
}

.status-bar-item{
    color: var(--main-accent);
    background-color: var(--bg-darker-translucent);
    border-radius: var(--radius-medium);
    max-height: 20px;
    margin: 4px calc(var(--panel-spacing) / 2);
    padding: 0px 5px;
    box-shadow: var(--shadow);
    transition: all 200ms ease-out;
}

.status-bar-item.mod-clickable:hover{
    color: var(--main-accent-light);
    transform: scale(1.05, 1.05);
    transition: all 200ms ease-in;
}

/* #endregion */