/* #region *.......................... Status bar*/

body:is(.dark-statusbar-enabled) .status-bar {
    background-color: var(--bg-black-translucent);
}

body:is(.dark-statusbar-enabled) .status-bar-item {
    background-color: var(--main-accent-dark);
}

.status-bar {
    background-color: var(--main-accent-dark);
    max-height: 30px;
    padding: 10px 25px;
    align-items: center;
    justify-content: center;
    border: none;
}

.status-bar-item {
    margin: 4px calc(var(--panel-spacing) / 2);
    padding: 0px 5px;
    max-height: 22px;
    border-radius: var(--radius-medium);
    box-shadow: var(--text-shadow);
    background-color: var(--bg-darker);
    color: var(--text-normal);
    transition: transform 150ms ease-out,
                color 150ms ease-out;
}

.status-bar-item.mod-clickable:hover{
    color: var(--interactive-accent-hover);
    transform: scale(1.04, 1.04);
    transition: transform 150ms ease-in,
                color 150ms ease-in;
}

/* #endregion */