.view-header {
  border-bottom: 1px solid transparent;
  box-shadow: var(--shadow-l);
  margin: 0px;
}

.is-focused .workspace-leaf.mod-active .view-header {
  border-bottom-color: var(--color-accent-1);
}

.view-header-nav-buttons {
  margin-left: var(--size-4-1);
}

.view-actions {
  margin-right: var(--size-4-1);
}

.view-header-title-parent .view-header-breadcrumb-separator {
  color: var(--color-accent-1);
}

.view-header-title-container:not(.mod-at-end):after {
  background: none;
}

.workspace-split.mod-root .view-content {
  background-color: var(--color-base-10);
}
