.theme-dark {
  --color-base-offset-mult: 0;
  --color-base-offset: calc(1% * var(--color-base-offset-mult));
  --color-base-l: 6%;
  --color-base-h: 196;
  --color-base-s: 11%;
  --color-base-sat-percent: calc(1% * var(--color-base-s));
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44CF6E;
  --color-orange: #E9973F;
  --color-yellow: #E0DE71;
  --color-cyan: #53DFDD;
  --color-blue: #027aff;
  --color-purple: #a882ff;
  --color-pink: #FA99CD;
  --color-base-00: hsl(var(--color-base-h), var(--color-base-s), var(--color-base-l));
  --color-base-10: hsl(var(--color-base-h), var(--color-base-s), calc(3% + var(--color-base-l)));
  --color-base-20: hsl(var(--color-base-h), var(--color-base-s), calc(4% + var(--color-base-l)));
  --color-base-25: hsl(var(--color-base-h), var(--color-base-s), calc(7% + var(--color-base-l)));
  --color-base-30: hsl(var(--color-base-h), var(--color-base-s), calc(8% + var(--color-base-l)));
  --color-base-35: hsl(var(--color-base-h), var(--color-base-s), calc(14% + var(--color-base-l)));
  --color-base-40: hsl(var(--color-base-h), var(--color-base-s), calc(22% + var(--color-base-l)));
  --color-base-50: hsl(var(--color-base-h), var(--color-base-s), calc(29% + var(--color-base-l)));
  --color-base-60: hsl(var(--color-base-h), var(--color-base-s), calc(49% + var(--color-base-l)));
  --color-base-70: hsl(var(--color-base-h), var(--color-base-s), calc(62% + var(--color-base-l)));
  --color-base-100: hsl(var(--color-base-h), var(--color-base-s), calc(74% + var(--color-base-l)));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 15%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 15%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-25);
  --interactive-normal: var(--color-accent-1);
  --interactive-hover: var(--color-accent);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
  0 2px 4px 0 rgba(0,0,0,.15),
  0 1px 1.5px 0 rgba(0,0,0,.1),
  0 1px 2px 0 rgba(0,0,0,.2),
  0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
  0 2px 3px 0 rgba(0,0,0,.3),
  0 1px 1.5px 0 rgba(0,0,0,.2),
  0 1px 2px 0 rgba(0,0,0,.4),
  0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
  0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
  0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
  0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
  0px 30px 90px rgba(0, 0, 0, 0.2);
}

.is-mobile.theme-dark {
  --color-base-00: hsl(var(--color-base-h), var(--color-base-s), var(--color-base-l));
  --color-base-10: hsl(var(--color-base-h), var(--color-base-s), calc(3% + var(--color-base-l)));
  --color-base-20: hsl(var(--color-base-h), var(--color-base-s), calc(4% + var(--color-base-l)));
  --tag-background: hsla(var(--interactive-accent-hsl), 0.2);
  --modal-background: var(--background-secondary);
  --search-result-background: var(--background-secondary);
  --background-primary: var(--color-base-10);
  --background-secondary: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --background-modifier-form-field: var(--background-modifier-border);
  --background-modifier-cover: rgba(0, 0, 0, 0.5);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.15);
  --settings-home-background: var(--background-primary);
}

.theme-light {
  --color-base-offset-mult: 0;
  --color-base-offset: calc(1% * var(--color-base-offset-mult));
  --color-base-l: 95%;
  --color-base-h: 196;
  --color-base-s: 11%;
  --color-base-sat-percent: calc(1% * var(--color-base-s));
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #06aa37;
  --color-orange: #E9973F;
  --color-yellow: #dfdb11;
  --color-cyan: #53DFDD;
  --color-blue: #027aff;
  --color-purple: #a882ff;
  --color-pink: #FA99CD;
  --color-base-00: hsl(var(--color-base-h), var(--color-base-s), var(--color-base-l));
  --color-base-10: hsl(var(--color-base-h), var(--color-base-s), calc(-3% + var(--color-base-l)));
  --color-base-20: hsl(var(--color-base-h), var(--color-base-s), calc(-4% + var(--color-base-l)));
  --color-base-25: hsl(var(--color-base-h), var(--color-base-s), calc(-7% + var(--color-base-l)));
  --color-base-30: hsl(var(--color-base-h), var(--color-base-s), calc(-8% + var(--color-base-l)));
  --color-base-35: hsl(var(--color-base-h), var(--color-base-s), calc(-14% + var(--color-base-l)));
  --color-base-40: hsl(var(--color-base-h), var(--color-base-s), calc(-22% + var(--color-base-l)));
  --color-base-50: hsl(var(--color-base-h), var(--color-base-s), calc(-29% + var(--color-base-l)));
  --color-base-60: hsl(var(--color-base-h), var(--color-base-s), calc(-49% + var(--color-base-l)));
  --color-base-70: hsl(var(--color-base-h), var(--color-base-s), calc(-62% + var(--color-base-l)));
  --color-base-80: hsl(var(--color-base-h), var(--color-base-s), calc(-74% + var(--color-base-l)));
  --color-base-90: hsl(var(--color-base-h), var(--color-base-s), calc(-84% + var(--color-base-l)));
  --color-base-100: hsl(var(--color-base-h), var(--color-base-s), calc(-94% + var(--color-base-l)));
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 5%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-25);
  --interactive-normal: var(--color-accent-1);
  --interactive-hover: var(--color-accent);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
  0 2px 4px 0 rgba(0,0,0,.15),
  0 1px 1.5px 0 rgba(0,0,0,.1),
  0 1px 2px 0 rgba(0,0,0,.2),
  0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
  0 2px 3px 0 rgba(0,0,0,.3),
  0 1px 1.5px 0 rgba(0,0,0,.2),
  0 1px 2px 0 rgba(0,0,0,.4),
  0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
  0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
  0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
  0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
  0px 30px 90px rgba(0, 0, 0, 0.2);
}

.is-mobile.theme-light {
  --color-base-00: hsl(var(--color-base-h), var(--color-base-s), var(--color-base-l));
  --color-base-10: hsl(var(--color-base-h), var(--color-base-s), calc(-3% + var(--color-base-l)));
  --color-base-20: hsl(var(--color-base-h), var(--color-base-s), calc(-4% + var(--color-base-l)));
  --tag-background: hsla(var(--interactive-accent-hsl), 0.2);
  --modal-background: var(--background-secondary);
  --search-result-background: var(--background-secondary);
  --background-primary: var(--color-base-10);
  --background-secondary: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --background-modifier-form-field: var(--background-modifier-border);
  --background-modifier-cover: rgba(0, 0, 0, 0.5);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.15);
  --settings-home-background: var(--background-primary);
}
