.theme-dark {
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44CF6E;
  --color-orange: #E9973F;
  --color-yellow: #E0DE71;
  --color-cyan: #53DFDD;
  --color-blue: #027aff;
  --color-purple: #a882ff;
  --color-pink: #FA99CD;
  --color-base-00: hsl(196, 18%, 6%);
  --color-base-10: hsl(196, 18%, 8%);
  --color-base-20: hsl(196, 18%, 9%);
  --color-base-25: hsl(196, 18%, 10%);
  --color-base-30: hsl(196, 18%, 15%);
  --color-base-35: hsl(196, 18%, 19%);
  --color-base-40: hsl(196, 18%, 27%);
  --color-base-50: hsl(196, 18%, 34%);
  --color-base-60: hsl(196, 18%, 54%);
  --color-base-70: hsl(196, 18%, 67%);
  --color-base-100: hsl(196, 18%, 79%);
  --color-accent-hsl: var(--accent-h),
  var(--accent-s),
  var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
  0 2px 4px 0 rgba(0,0,0,.15),
  0 1px 1.5px 0 rgba(0,0,0,.1),
  0 1px 2px 0 rgba(0,0,0,.2),
  0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
  0 2px 3px 0 rgba(0,0,0,.3),
  0 1px 1.5px 0 rgba(0,0,0,.2),
  0 1px 2px 0 rgba(0,0,0,.4),
  0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
  0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
  0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
  0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
  0px 30px 90px rgba(0, 0, 0, 0.2);
}
