/* #region *.......................... Style Settings Plugin */
/* @settings
name: Red Solitude Dark (Still Fixing the theme)
id: red-solitude-dark
settings:
  -
    id: extras
    title: Extras
    type: heading
    level: 1
    collapsed: true
  -
    id: theme-font-active
    title: Deactivate Custom Font
    description: Deactivate the default font provided by the theme
    type: class-toggle
    default: false
  -
    id: deactivate-window-border
    title: Deactivate window border
    description: Deactivate the border around non-maximized windows
    type: class-toggle
    default: false
  -
    id: has-custom-background
    title: Activate custom background
    description: Activate the custom background
    type: class-toggle
    default: false
  -
    id: custom-background
    title: Custom Background
    description: Custom background encoded as base64 url. Use this encoder -> (https://www.base64-image.de/)
    type: variable-text
    default: none
  -
    id: panel-spacing
    title: Adjust panel spacing
    description: Adjusts the spacing in between the panels
    type: variable-number-slider
    format: px
    default: 6
    min: 0
    max: 50
    step: 1
  -
    id: colors
    title: Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: color-base-offset-mult
    title: Adjust brightness
    description: Adjusts the brightness of all dark backgrounds
    type: variable-number-slider
    default: 0
    min: -6
    max: 21
    step: 0.5
*/
/* #endregion */
