/* #region *.......................... Style Settings Plugin */
/* @settings
name: Red Solitude Dark (Still Fixing the theme)
id: red-solitude-dark
settings:
  -
    id: theme-font-active
    title: Deactivate the font provided by the theme
    type: class-toggle
    default: false
  -
*/
/* #endregion */
