/* #region *.......................... Modals */

.modal button:not(.mod-cta):not(.mod-warning),
.modal.mod-settings button:not(.mod-cta):not(.mod-warning) {
    background-color: var(--interactive-normal);
}

.modal button:not(.mod-cta):not(.mod-warning):hover,
.modal.mod-settings button:not(.mod-cta):not(.mod-warning) :hover {
    background-color: var(--interactive-hover);
}

.is-mobile .modal,
.is-mobile .prompt,
.is-mobile .suggestion-container {
    height: calc(100% - 20px) !important;
    max-height: calc(100% - 20px);
    width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px);
}

.modal-bg {
    background-color: rgba(12, 12, 12, 0.4);
    backdrop-filter: blur(10px);
    -webkit-filter: blur(10px);
}

.modal,
.prompt,
.popover {
    box-shadow:  var(--shadow-big);
    background-color: var(--bg-darker);
    border: 1px solid var(--border-highlight-color);
    border-radius: var(--radius-big);
}

.popover .markdown-embed .markdown-embed-link {
    padding: 4px 5px 0px 5px;
    color: var(--text-normal);
    box-shadow: var(--button-shadow);
    transition: border-color 200ms ease-out;
}

.popover .markdown-embed .markdown-embed-link:hover {
    border-color: var(--main-accent);
    transition: border-color 200ms ease-in;
}

.community-plugin-readme.markdown-preview-view {
    font-size: var(--note-font-size);
}

.modal.mod-image-lightbox {
    max-height: 90vh;
}

.modal-close-button {
    right: 8px;
    padding: 0px 3px;
    transition: transform 150ms ease-out,
                color 150ms ease-out;
}

.modal-close-button:hover {
    transform: scale(1.1);
    color: var(--main-accent);
    transition: transform 150ms ease-in,
                color 150ms ease-in;
}

@import 'Theme-Modal.scss';

@import 'Settings-Modal.scss';

/* #endregion */