/* #region -> Colors */

:root, .theme-dark {
/* #region -> General Colors */
    --main-accent-dark: #521414;
    --main-accent: #a32929;
    --main-accent-light: #ce3b3b;

    --conf-bg-spacing: 5%;
    --conf-bg-start: 3%;
    --conf-bg-transparency: 0.85;
    --conf-bg-hue: 228;
    --conf-bg-sat: 12%;

    --bg-translucent: hsla(208, 16%, 16%, var(--conf-bg-transparency));
    --bg-dark-translucent: hsla(210, 15%, 13%, var(--conf-bg-transparency));
    --bg-darker-translucent: hsla(204, 12%, 8%, var(--conf-bg-transparency));
    --bg-darkest-translucent: hsla(192, 20%, 5%, var(--conf-bg-transparency));

    --bg: #22292f;
    --bg-dark: #1c2126;
    --bg-darker: hsl(204, 14%, 8%);
    --bg-darkest: hsl(192, 20%, 5%);

    /* #endregion -> General Colors */

    --bg-app: var(--bg);

    --bg-title-bar: var(--bg-darkest);
    --bg-title-bar-button-hover:#232327;

    --bg-ribbon: var(--bg-app);

    --bg-leaf-head-active: var(--bg-darkest);
    --bg-leaf-head: var(--bg-darker);
    --bg-leaf-content: var(--bg-dark-translucent);

    --bg-input: #0f0f0f;

    --bg-note: var(--bg-darker-translucent);
    --bg-line-hover: var(--bg-darkest-translucent); /* 1e1f24 */
    --bg-line-active: var(--bg-darkest-translucent);

    --bg-embed: transparent;

    --horizontal-line-color:#4d5255;

    --bg-task-hover:#202833;

    --bg-quote: var(--bg-darkest);

    --header-1-color: hsl(230, 20%, 92%);
    --header-2-color: hsl(230, 20%, 92%);
    --header-3-color: hsl(230, 20%, 92%);
    --header-4-color: hsl(230, 20%, 88%);
    --header-5-color: hsl(230, 20%, 88%);
    --header-6-color: hsl(230, 20%, 88%);

    --bg-highlight-color:#afe400;
    --highlight-text-color:#000000;
    --bold-color: #2487e4;
    --italic-color: #59dbb4;
    --math-text-color:#5e90c9;
    --url-color: #40bcdb;
    --url-hover-color: #6fe2ff;
    --note-link-color: var(--main-accent);
    --note-link-hover-color: var(--main-accent-light);
    --note-link-hover-bg-color: var(--bg-darkest-translucent);
    --tag-color:#95b4c2;
    --tag-hover-color: #27cbd1;
    --bg-tag:#16375c;
    --bg-tag-hover: #10253f;

    --graph-line-color:#7a7a7a;

    /* Overridden Obsidian Variables */

    --background-modifier-cover: var(--bg-app); /*Obsidian Title Bar Bg*/
    --background-primary: var(--bg-dark); /*Note background*/
    --background-primary-alt: var(--bg-darker); /*Note Title background active*/
    --background-secondary: var(--bg-darkest); /*Sidebar background*/
    --background-secondary-alt: var(--bg-leaf-head-active); /*Sidebar Title background*/

    --text-normal: hsl(230, 20%, 92%); /*Text body of note*/
    --text-note: var(--text-normal);
    --text-muted:  ; /*Text darker for sidebar, toggles, inactive, tags, etc*/
    --text-accent: var(--main-accent); /*Links*/
    --text-accent-hover: var(--main-accent-light); /*Links hover*/
    --text-faint: #5C5C5C; /*Link brackets color & Gutter Numbers*/

    --text-highlight-bg: #c939395d; /*Search Matches*/
    --text-highlight-bg-active: #cc141467; /*Active Search Match (Preview Mode)*/
    --text-selection: var(--main-accent-dark); /*Text Selections*/
    --text-selection-color: #caa3a3;

    --interactive-normal: var(--main-accent-dark); /*Button Color*/
    --interactive-hover: var(--main-accent); /*Button Hovered Color*/
    --interactive-accent: var(--main-accent); /*Workspace Note Title Underline*/
    --interactive-accent-hover: var(--main-accent-light); /*Menu Button Hover*/

    --scrollbar-bg: #ffffff0d; /*Scrollbar Gutter Background*/
    --scrollbar-thumb-bg: #ffffff1a; /*Scrollbar Color*/
    --scrollbar-active-thumb-bg: var(--main-accent-dark); /*Scrollbar Dragged Color*/

    --indentation-guide: var(--main-accent);
    --indentation-guide-active: var(--main-accent-light);
}

:root body:is(.no-translucency) {
    --bg-translucent: var(--bg);
    --bg-dark-translucent: var(--bg-dark);
    --bg-darker-translucent: var(--bg-darker);
    --bg-darkest-translucent: var(--bg-darkest);
}
/* #endregion -> Colors */