/* #region *.......................... Style Settings Plugin */

/* @settings
name: Red Solitude Dark
id: red-solitude-dark
settings:
  -
    id: general-settings
    title: General Settings
    type: heading
    level: 1
    collapsed: false
  -
    id: is-hover-effect-on
    title: Enable hover effect in editor
    type: class-toggle
    default: false
  -
    id: is-active-effect-on
    title: Enable active line effect in editor
    type: class-toggle
    default: false
  -
    id: is-translucency-effect-on
    title: Enable translucency effect
    type: class-toggle
    default: false
  -
    id: has-custom-background
    title: Enable custom background
    type: class-toggle
    default: false
  -
    id: custom-bullet-point-enabled
    title: Enable custom bullet point character "-"
    type: class-toggle
    default: false
  -
    id: gutter-is-moved
    title: Enable moving the gutter all the way to the left
    type: class-toggle
    default: false
  -
    id: note-font-size
    title: Editor Font Size (rem)
    type: variable-number
    default: 1.0
    format: 'rem'
  -
    id: note-width
    title: Note width (px)
    type: variable-number
    default: 900
    format: 'px'
  -
    id: active-line-font-size
    title: Active Line Font Size (rem)
    type: variable-number
    default: 1.01
    format: 'rem'
  -
    id: General-colors-settings
    title: General Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: bg-app
    title: Workspace Background Color
    type: variable-color
    format: hex
    opacity: true
    default-dark: '#22292f'
  -
    id: main-accent
    title: Accent Color
    type: variable-color
    format: hex
    opacity: true
    default: '#a32929'
  -
    id: main-accent-light
    title: Accent Color light
    type: variable-color
    format: hex
    opacity: true
    default: '#ce3b3b'
  -
    id: main-accent-dark
    title: Accent Color Dark
    type: variable-color
    format: hex
    opacity: true
    default: '#521414'
  -
    id: bold-color
    title: Bold Text Color
    type: variable-color
    format: hex
    opacity: true
    default: '#2487e4'
  -
    id: italic-color
    title: Italic Text Color
    type: variable-color
    format: hex
    opacity: true
    default: '#59dbb4'
  -
    id: note-link-color
    title: Note Link Color
    type: variable-color
    format: hex
    opacity: true
    default: '#a32929'
  -
    id: note-link-hover-color
    title: Note Link Hover Color
    type: variable-color
    format: hex
    opacity: true
    default: '#ce3b3b'
  -
    id: math-text-color
    title: Latex Text Color
    type: variable-color
    format: hex
    opacity: true
    default: '#5e90c9'
  -
    id: url-color
    title: URL Color
    type: variable-color
    format: hex
    opacity: true
    default: '#40bcdb'
  -
    id: url-hover-color
    title: URL Hover Color
    type: variable-color
    format: hex
    opacity: true
    default: '#6fe2ff'
  -
    id: tag-color
    title: Tag Color
    type: variable-color
    format: hex
    opacity: true
    default: '#95b4c2'
  -
    id: tag-hover-color
    title: Tag Hover Color
    type: variable-color
    format: hex
    opacity: true
    default: '#27cbd1'
  -
    id: bg-tag
    title: Tag background color
    type: variable-color
    format: hex
    opacity: true
    default: '#16375c'
  -
    id: bg-tag-hover
    title: Tag background hover color
    type: variable-color
    format: hex
    opacity: true
    default: '#10253f'
  -
    id: header-settings
    title: Headers
    type: heading
    level: 1
    collapsed: false
  -
    id: downsize-h-formatter
    title: 'Downsize Header Formatter'
    description: 'This downsizes the "#" formatter for headers.'
    type: class-toggle
    default: true
  -
    id: header-1-settings
    title: Heading Level 1
    type: heading
    level: 2
    collapsed: true
  -
    id: header-1-color
    title: 'Header 1 Color:'
    type: variable-color
    format: hex
    opacity: true
    default: '#e8e9f0'
  -
    id: header-1-size
    title: 'Header 1 Size:'
    type: variable-number
    default: 1.9
    format: 'em'
  -
    id: header-1-weight
    title: 'Header 1 Weight:'
    type: variable-select
    default: bold
    options:
      - bold
      - normal
  -
    id: header-1-alignment
    title: 'Header 1 Alignment:'
    type: variable-select
    default: left
    options:
      - left
      - center
      - right
  -
    id: header-2-settings
    title: Heading Level 2
    type: heading
    level: 2
    collapsed: true
  -
    id: header-2-color
    title: 'Header 2 Color:'
    type: variable-color
    format: hex
    opacity: true
    default: '#e8e9f0'
  -
    id: header-2-size
    title: 'Header 2 Size:'
    type: variable-number
    default: 1.55
    format: 'rem'
  -
    id: header-2-weight
    title: 'Header 2 Weight:'
    type: variable-select
    default: bold
    options:
      - bold
      - normal
  -
    id: header-2-alignment
    title: 'Header 2 Alignment:'
    type: variable-select
    default: left
    options:
      - left
      - center
      - right
  -
    id: header-3-settings
    title: Heading Level 3
    type: heading
    level: 2
    collapsed: true
  -
    id: header-3-color
    title: 'Header3 Color:'
    type: variable-color
    format: hex
    opacity: true
    default: '#e8e9f0'
  -
    id: header-3-size
    title: 'Header 3 Size:'
    type: variable-number
    default: 1.37
    format: 'rem'
  -
    id: header-3-weight
    title: 'Header 3 Weight:'
    type: variable-select
    default: bold
    options:
      - bold
      - normal
  -
    id: header-3-alignment
    title: 'Header 3 Alignment:'
    type: variable-select
    default: left
    options:
      - left
      - center
      - right
  -
    id: header-4-settings
    title: Heading Level 4
    type: heading
    level: 2
    collapsed: true
  -
    id: header-4-color
    title: 'Header 4 Color:'
    type: variable-color
    format: hex
    opacity: true
    default: '#dadce7'
  -
    id: header-4-size
    title: 'Header 4 Size:'
    type: variable-number
    default: 1.25
    format: 'rem'
  -
    id: header-4-weight
    title: 'Header 4 Weight:'
    type: variable-select
    default: bold
    options:
      - bold
      - normal
  -
    id: header-4-alignment
    title: 'Header 4 Alignment:'
    type: variable-select
    default: left
    options:
      - left
      - center
      - right
  -
    id: header-5-settings
    title: Heading Level 5
    type: heading
    level: 2
    collapsed: true
  -
    id: header-5-color
    title: 'Header 5 Color:'
    type: variable-color
    format: hex
    opacity: true
    default: '#dadce7'
  -
    id: header-5-size
    title: 'Header 5 Size:'
    type: variable-number
    default: 1.12
    format: 'rem'
  -
    id: header-5-weight
    title: 'Header 5 Weight:'
    type: variable-select
    default: bold
    options:
      - bold
      - normal
  -
    id: header-5-alignment
    title: 'Header 5 Alignment:'
    type: variable-select
    default: left
    options:
      - left
      - center
      - right
  -
    id: header-6-settings
    title: Heading Level 6
    type: heading
    level: 2
    collapsed: true
  -
    id: header-6-color
    title: 'Header 6 Color:'
    type: variable-color
    format: hex
    opacity: true
    default: '#dadce7'
  -
    id: header-6-size
    title: 'Header 6 Size:'
    type: variable-number
    default: 1.08
    format: 'rem'
  -
    id: header-6-weight
    title: 'Header 6 Weight:'
    type: variable-select
    default: bold
    options:
      - bold
      - normal
  -
    id: header-6-alignment
    title: 'Header 6 Alignment:'
    type: variable-select
    default: left
    options:
      - left
      - center
      - right
*/

/* #endregion */