/* #region *.......................... Theme modal */

.community-theme {
    box-shadow: var(--shadow-medium);
}

.community-theme .community-theme-info {
    flex-grow: 1;
}

.community-theme div:nth-child(3) {
    flex-grow: 1;
}

.community-theme.is-selected .modal-button-container button:hover {
    background-color: var(--main-accent-light);
}

.community-theme-filters-container button {
    padding: 5px 10px;
    margin-bottom: 4px;
}

/* #endregion */